.seccionError {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.imagen404 {
    margin-bottom: 60px;
    width: 200px;
    justify-items: center;
    align-content: center;
}