.seccionError {
    margin-top: 100px;
    margin-bottom: 100px;
  }

.imagen404 {
    margin-bottom: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}