.footer2 {
    grid-area: footer;
    border-top: solid 1px rgb(245, 245, 245);
}

.footerBottom {
    height: fit-content;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-text-fill-color: rgb(46, 46, 46);
}

.footerBottom {
    height: fit-content;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-text-fill-color: rgb(46, 46, 46);
  }